<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.california.mams.orm.dao.MamsGroupJsonMapper">
    <resultMap id="BaseResultMap" type="com.california.mams.orm.model.MamsGroup">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="kid" jdbcType="VARCHAR" property="kid"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="members" jdbcType="CHAR" property="members"/>
        <result column="menus" jdbcType="CHAR" property="menus"/>
        <result column="auths" jdbcType="CHAR" property="auths"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, kid, type, name, members, menus, auths, create_time, update_time, comment
    </sql>
    <select id="selectGroupsContainMember" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mams_group
        where JSON_CONTAINS(`members`, #{argsMap.memberKid,jdbcType=VARCHAR})
        and type = #{argsMap.type, jdbcType=VARCHAR};
    </select>

    <select id="selectGroupsContainAuth" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mams_group
        where JSON_CONTAINS(`auths`, #{argsMap.authKid,jdbcType=VARCHAR})
        and type = #{argsMap.type, jdbcType=VARCHAR};
    </select>

    <select id="selectGroupsContainMenu" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mams_group
        where JSON_CONTAINS(`menus`, #{argsMap.menuKid,jdbcType=VARCHAR})
        and type = #{argsMap.type, jdbcType=VARCHAR};
    </select>
</mapper>
